# DSCS 2020
## Lecture 2 - Introduction to Python

1. The Basics
 1. Variables and printing
 1. Numbers
 1. Remainders
 1. Strings
 1. Working with user input
 1. Booleans
 1. Lists
 1. Tuples
 1. Sets
 1. Dictionaries
 1. Length, Sum, Round and Type
 1. More logical statements `in` and `not`

2. Advanced Python
    1. If Statements
    1. While loops
    1. For loops
    1. Break and Continue
    1. Functions
        1. Basics
        1. Arguments and Parameters
        1. Return Values
        1. Specifying Parameters
        1. Default Parameters
3. Some Practice Problems
    1. Largest Numbers
    1. Prime Numbers
    1. Print all keys of a dictionary

# 1. The basics

## 1.1 Variables and printing
We can define a variable using any name. Names can contain letters, underscores and numbers, but are not allows to *start* with a number

In [1]:
length = 42

We can print a value using the print() function.

In [2]:
print(length)

42

But in Jupyter or Hydrogen we can also just print values as such

In [3]:
length

42

Be careful that you don't use variable names that are already in use for functions or serve some other built-in prupose in python. This breaks:

In [4]:
print = 42
print(print) # this causes an error

TypeError: 'int' object is not callable

Reset the kernel after running the line above:
Kernel -> Restart

We could in theory just print variable values directly, but the what makes variables interesting is that their values can change

In [1]:
length = 42
print(length)
length = 17
print(length)

42
17

Try to keep your code as readible as possible! Use names for variables that explain what they are used for and if the names are a bit longer, then use underscores to separate words, like this:

In [2]:
templengthlectureduration =  225 # somewhat tricky to read
temp_length_lecture_duration = 225 # much nicer to read

On a side note: we can make comments in our code using `#` at the beginning of a line. For longer comments you can use tripple quotes. Comments might show up in Hydrogen or Jupyter, but are not cosnidered by Python

In [3]:
# This is a single line comment
# print("This won't work")


""" 
you can use 
these for 
longer comments
"""

' \nyou can use \nthese for \nlonger comments\n'

## 1.2 Numbers
There are two types of numbers, natural numbers (called integers) and numbers with decimals after them (floating points)

In [4]:
length = 42 # -> This is an integer
width = 19.7 # -> This is a floating point (or just called float)

We can run regular math operations on these numbers

In [5]:
perimeter = length + length + width + width

surface_area = length * width

ratio_width_to_length = width / length # attention! Divisions will always result in floats, even if you have two ints

difference_width_length = width - length

You can exponentiate numbers by using the double asterisk

In [6]:
2 ** 3 # raises two to the power of three 2^3

8

If you want to just alter a numeric variable then you can the operator in front of the `=` sign

In [7]:
x = 1
x = x + 1 # no need to do this

x += 9 # instead we can just do this
print(x)

# or this

x *= 10
print(x)

x /= 10
print(x)

x -= 10
print(x)

11
110
11.0
1.0

You can also perform an integer division which will drop the after comma digits

In [8]:
print(10 // 2) # -> 5 
print(10 // 4) # -> 2 
print(10 // 3) # -> 3

5
2
3

## 1.3 Remainders
We just saw how we can perform an integer definition. That is useful for problems like "How many children can have lunch if I have 124 pieces of bread and each child eats 3 pieces?".
But its also useful to know the remainder of the operation. This is a common problem and you can conveniently do this with the modulo operator which is native to python

In [9]:
total_pieces_of_bread = 124
average_consumption = 3
children_that_i_can_feed = 124 // 3

pieces_left_over = 124 % 3

print("These should be the same:")
print(total_pieces_of_bread)
print((children_that_i_can_feed * 3) + pieces_left_over)

These should be the same:
124
124

## 1.4 Strings
Strings are can be single characters, words, sentences or even longer chunks of text

In [10]:
greetings1 = "Hello DSCS class of 2020!"
greetings1

'Hello DSCS class of 2020!'

Python doesn't care if we use single or double quotes

In [11]:
greetings2 = 'Hello DSCS class of 2020!'

Actually, this is something we can take advantage of, if we want to embed a quote in our string

In [12]:
quoted_text = "Ruth Bader Ginsburg is famous to have said: 'I don’t say women’s rights — I say the constitutional principle of the equal citizenship stature of men and women.'"
print(quoted_text)

Ruth Bader Ginsburg is famous to have said: 'I don’t say women’s rights — I say the constitutional principle of the equal citizenship stature of men and women.'

If you have a really long text that does not fit on one line, then you can use tripple quotes. These are also very convenient for adding long comments to your code.

In [13]:
nyt_article = '''Few art works sold in the past few years have drawn as much attention as “Comedian” 
by the Italian artist Maurizio Cattelan, in part because, despite its price and ironic humor, it is 
at its heart a banana that one tapes to a wall. The sly work’s simplicity enticed collectors to pay 
as much as $150,000 for it at a Miami art fair last fall, an act of connoisseurship that delighted 
them but astonished the many people who had not imagined that a, um, “sculpture” of fruit on a wall 
could command such a price. Now the work’s aesthetic merit is being reinforced by the Guggenheim 
Museum in Manhattan, which is accepting it into its collection as an anonymous donation. “We are 
grateful recipients of the gift of ‘Comedian,’ a further demonstration of the artist’s deft connection 
to the history of modern art,” said the Guggenheim’s director, Richard Armstrong. “Beyond which, it 
offers little stress to our storage.”'''
print(nyt_article)

Few art works sold in the past few years have drawn as much attention as “Comedian”
by the Italian artist Maurizio Cattelan, in part because, despite its price and ironic humor, it is
at its heart a banana that one tapes to a wall. The sly work’s simplicity enticed collectors to pay
as much as $150,000 for it at a Miami art fair last fall, an act of connoisseurship that delighted
them but astonished the many people who had not imagined that a, um, “sculpture” of fruit on a wall
could command such a price. Now the work’s aesthetic merit is being reinforced by the Guggenheim
Museum in Manhattan, which is accepting it into its collection as an anonymous donation. “We are
grateful recipients of the gift of ‘Comedian,’ a further demonstration of the artist’s deft connection
to the history of modern art,” said the Guggenheim’s director, Richard Armstrong. “Beyond which, it
offers little stress to our storage.”

Remember our math operations? Some of those aren't just for numbers! 

We can for example use the addition operation to combine two strings. Remember to add white spaces if necessary though!

In [14]:
first_name = "Guido"
last_name = "van Rossum"

full_name1 = first_name + last_name
full_name2 = first_name + " " + last_name

print(full_name1)
print(full_name2)

print("Hello, my name is " + full_name2)

Guidovan Rossum
Guido van Rossum
Hello, my name is Guido van Rossum

Sometimes we have to repeat a string multiple times, but might be feeling lazy or just don't want to make our code untidy by copy-pasting it multiple times

In [15]:
print("Halleluja " * 7)

Halleluja Halleluja Halleluja Halleluja Halleluja Halleluja Halleluja

Sometimes we have a string input that we need to transform into a integer/float or a number that we want to transform into a string.

In [16]:
print("Today's lecture will take approximately " + str(temp_length_lecture_duration) + " minutes")

height = "22"
volume = width * length * int(height)

print("Volume: " + str(volume)) # turn our number back into a string

Today's lecture will take approximately 225 minutes
Volume: 18202.8

We can also use curly brackets to create longer string in which we insert nunbers or other values. This is especially useful when we have many values to insert.

In [17]:
text = """Hello my family name is {}, but you can call me {}. Did you know? 
The cuboid I am holding has a volume of {} units""".format(last_name, first_name, volume)

print(text)

Hello my family name is van Rossum, but you can call me Guido. Did you know?
The cuboid I am holding has a volume of 18202.8 units

You can also give the values to be filled in names to make things more organised

In [18]:
text = """Hello my family name is {last}, but you can call me {first}. Did you know? 
The cuboid I am holding has a volume of {vol} units""".format(vol=volume, first=first_name, last=last_name)

print(text)

Hello my family name is van Rossum, but you can call me Guido. Did you know?
The cuboid I am holding has a volume of 18202.8 units

We can also do this:

In [19]:
text = """Hello my family name is {last}, but you can call me {first}. Did you know? 
The cuboid I am holding has a volume of {vol} units"""

print(text.format(vol=volume, first=first_name, last=last_name))

Hello my family name is van Rossum, but you can call me Guido. Did you know?
The cuboid I am holding has a volume of 18202.8 units

Sometimes we'd like to insert our values into the text directly instead of using `.format()`. We can use a feature thats only available in Python3 called the f-string. We just add a 'f' in front of the string and can directly insert values into the string

In [20]:
print(f"If your piece of land has a width of {width} meters and a " +
      f"length of {length} meters, then the surface area is {width * length} meters")

If your piece of land has a width of 19.7 meters and a length of 42 meters, then the surface area is 827.4 meters

## 1.5 Working with User Input
Python provides the `input()` to ask the user for input. The user can enter a value that gets returned to our script and that we can then use as a variable. This can be very useful to make Python scripts interactive

In this class of course, you will learn to make your code even easier to interact with from a user perspective, without requiring the people to have python installed or knowing how to execute a Python script.

In [21]:
user = input("Welcome! What is your name?")
print(f"Hello {user}!")

Welcome! What is your name?
Hello !

Be careful though, the function will only return a string

In [122]:
guests = 34
bagels = input("How many bagels do we have have for the party?")
print(f"That leaves us with at least {bagels // guests} per person.") # causes an error

How many bagels do we have have for the party?100

TypeError: unsupported operand type(s) for //: 'str' and 'int'

Better:

In [123]:
guests = 34
bagels = input("How many bagels do we have have for the party?")
print(f"That leaves us with at least {int(bagels) // guests} bagels per person.")

How many bagels do we have have for the party?120
That leaves us with at least 3 bagels per person.

Even better: we convert the variable when we read it in, so we don't have to remember formatting in the code.

In [124]:
guests = 34
bagels = int(input("How many bagels do we have have for the party?"))
print(f"That leaves us with at least {bagels // guests} bagels per person.")

How many bagels do we have have for the party?120
That leaves us with at least 3 bagels per person.

## 1.6 Booleans
Numbers and strings are very important. But we a lot of programming involves using basic logic to make binary yes/no decisions. We can do this using booleans, pythons object types for representing logical values.

In [125]:
is_true = True
is_false = False

print(is_true)
print(is_false)

True
False

We can make logical deductions using `or` and `and` as logical operators on booleans

In [26]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [27]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

We can of course also combine these:

In [28]:
(True and False) or True

True

Just like we could call `int()` or `str()` we can use `bool()` to convert a variable into a boolean variable. 0 is transformed into `False` and any other number will be transformed into `True`

In [29]:
print(bool(0))
print(bool(1))
print(bool(4))
print(bool(184932))
print(bool(-123))
print(bool(0.1))

False
True
True
True
True
True

But be careful some other values can not be easily translated into true false values and the results might not be intuitive:

In [30]:
print(bool("What will this turn into?"))
print(bool(""))

True
False

Things get more interesting when we can check for certain conditions that require strings or integers

In [31]:
print(7 > 8)
print(7 > 7)
print(7 < 9)

print(7 >= 7) and print(7 <= 7)

False
False
True
True

We can also check for equalities and inequalities of values using double equal signs. Don't confuse these with single = which we use to change values.

In [32]:
print("My text" == "My text")
print(14 != 17)

True
True

We can already build basic workflows with the tools we know so far

In [36]:
height = 22
oil_tank_volume = width * length * 22

user_oil_amount = int(input("How much oil does your tanker carry? "))

boolean_comparison = oil_tank_volume >= user_oil_amount 

print(f"Our tank can store the ship's oil: {boolean_comparison}")

How much oil does your tanker carry? 1000
Our tank can store the ship's oil: True

## 1.7 Lists
So far we have only worked with individual variables to store information. But sometimes we want to work with longer chunks. For this we can use lists, which are exactly what the sound like:

In [34]:
shopping_list = ["Bananas", "Apples", "Oranges"]
shopping_list

['Bananas', 'Apples', 'Oranges']

In Python, lists can contain multiple object types

In [35]:
mylist = ["Soy Milk", 42, 17.3, True]
mylist

['Soy Milk', 42, 17.3, True]

We can join lists together using the addition operator

In [37]:
my_big_list = shopping_list + mylist
my_big_list

['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42, 17.3, True]

And we can also multiply list values, similar as we did with strings

In [38]:
my_big_list

['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42, 17.3, True]

In [39]:
my_big_list * 3

['Bananas',
 'Apples',
 'Oranges',
 'Soy Milk',
 42,
 17.3,
 True,
 'Bananas',
 'Apples',
 'Oranges',
 'Soy Milk',
 42,
 17.3,
 True,
 'Bananas',
 'Apples',
 'Oranges',
 'Soy Milk',
 42,
 17.3,
 True]

Lists can also contain other lists

In [40]:
nested_list = [["Apples",5],["Bananas",2],["Soy Milk", 1]]
nested_list

[['Apples', 5], ['Bananas', 2], ['Soy Milk', 1]]

Consider indenting your longer lists to keep them readable

In [41]:
nested_list = [
                ["Apples",5],
                ["Bananas",2],
                ["Soy Milk", 1],
                ["Oranges", 9],
                ["Aperol Spritz", 2],
                ["Sparkling water",2],
                ["Prosecco",3]
              ]
nested_list

[['Apples', 5],
 ['Bananas', 2],
 ['Soy Milk', 1],
 ['Oranges', 9],
 ['Aperol Spritz', 2],
 ['Sparkling water', 2],
 ['Prosecco', 3]]

We can access individual items using the index of the list. This is also called a subscript. But be careful, other than you might expect, indeces of items always start at 0 in Python.

To get the first item we have to use the 0 index, not 1

In [42]:
print(my_big_list) # for reference
print(my_big_list[0])
print(my_big_list[1])

['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42, 17.3, True]
Bananas
Apples

Notice how the following is the same. We are initially creating a list with just one value (three) in it and then subscripting it to get the first value which of course is also three. Comparing that with the integer value three yields a True response. Notice how the square brackets can both be used to create a list, while also subscripting a list, depending on the context.

In [43]:
[3][0] == 3

True

Comparing the list itself with the value 3 is not the same and we get a False response. That is because we are comparing a list with an integer which are inherently different values, even though the list contains a three.

In [44]:
[3] == 3

False

Maybe we want the last item of a list, but don't know how long exactly. We can use negative subscripts to index from the back of the list. As 0 equals -0, the index from the back starts from 0.

In [45]:
my_big_list

['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42, 17.3, True]

In [46]:
my_big_list[-1]

True

Apply multiple slices if the list is nested (i.e. it contains other lists)

In [47]:
nested_list[5][0]

'Sparkling water'

We can also get "slices" of lists. Watch out here, that the second index you name is NOT included

In [48]:
my_big_list

['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42, 17.3, True]

In [49]:
print(nested_list[1:5])

[['Bananas', 2], ['Soy Milk', 1], ['Oranges', 9], ['Aperol Spritz', 2]]

If you want to select all items after or before a certain index, then you can just leave of the values before or after colons blank

In [50]:
print(my_big_list) # for reference
print(my_big_list[1:]) # returns everything except the first item
print(my_big_list[:-2]) # returns everything until the second last index

['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42, 17.3, True]
['Apples', 'Oranges', 'Soy Milk', 42, 17.3, True]
['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42]

Another way to add a value to a list is by using `.append()`

In [51]:
my_big_list.append("Philippe")
my_big_list

['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42, 17.3, True, 'Philippe']

This also works with nested lists

In [52]:
nested_list.append(["Beer",2])
nested_list

[['Apples', 5],
 ['Bananas', 2],
 ['Soy Milk', 1],
 ['Oranges', 9],
 ['Aperol Spritz', 2],
 ['Sparkling water', 2],
 ['Prosecco', 3],
 ['Beer', 2]]

We can also remove values by naming them explicitly, this means we don't have to know a value's index

In [53]:
print(my_big_list) # for reference
my_big_list.remove("Philippe")
print(my_big_list)

['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42, 17.3, True, 'Philippe']
['Bananas', 'Apples', 'Oranges', 'Soy Milk', 42, 17.3, True]

You have to still be specific when it comes to nested lists:

In [54]:
print(nested_list) # for reference
nested_list.remove(["Beer",2])
print(nested_list)

[['Apples', 5], ['Bananas', 2], ['Soy Milk', 1], ['Oranges', 9], ['Aperol Spritz', 2], ['Sparkling water', 2], ['Prosecco', 3], ['Beer', 2]]
[['Apples', 5], ['Bananas', 2], ['Soy Milk', 1], ['Oranges', 9], ['Aperol Spritz', 2], ['Sparkling water', 2], ['Prosecco', 3]]

If you want to create a string from multiple values in a list, then you can do so by using `.join()` on a string that you want to combine the items with

In [55]:
merged_list = ", ".join(shopping_list)
print(f"I need to go and buy {merged_list}")

I need to go and buy Bananas, Apples, Oranges

Notice that we can also use subscripting to CHANGE a value

In [56]:
x = [0,2,4]
print(x[1])
x[1] = 3
print(x)

2
[0, 3, 4]

## 1.8 Tuples
Tuples are like lists, except that you can't make changes to them after you create them. This can for example be useful when you already know that you the values shouldn't change.

In general, you should rather use tuples than lists where you can.

In [57]:
fast_defined_tuple = "Guido", "van Rossum"
clear_tuple_definition = ("Guido", "van Rossum")
print(fast_defined_tuple == clear_tuple_definition) # same outcome

True

When we try to add a value to a tuple we get an error

In [58]:
shopping_list_tuple = ("eggs", "cheese", "ham")
shopping_list_tuple.append("bread") # this causes an error

AttributeError: 'tuple' object has no attribute 'append'

We can also not remove values from a tuple

In [59]:
shopping_list_tuple.remove("ham") # this causes an error

AttributeError: 'tuple' object has no attribute 'remove'

## 1.9 Sets
Sets are like lists, but they contain unique values. We define sets similarly to lists, but with curly braces

In [60]:
soccer_team = {"Lisa", "Anna","Charline"}
soccer_team

{'Anna', 'Charline', 'Lisa'}

Adding a value to the set that is already in it, will not cause a duplicate to show up

In [61]:
soccer_team.add("Emma")
soccer_team.add("Anna")
soccer_team

{'Anna', 'Charline', 'Emma', 'Lisa'}

We can remove values as with lists

In [62]:
soccer_team.remove("Anna")
soccer_team

{'Charline', 'Emma', 'Lisa'}

 Sets can be very useful to compare two groups of values. We can for example get values that are in one set but not the other

In [63]:
basketball_team = {"Emily","Charline","Alessandra","Julia"}

basketball_but_not_soccer = basketball_team.difference(soccer_team)
print(basketball_but_not_soccer)

soccer_but_not_basketball = soccer_team.difference(basketball_team)
print(soccer_but_not_basketball)

{'Emily', 'Alessandra', 'Julia'}
{'Emma', 'Lisa'}

We can also get items that are in both sets or that are explicitly not in both sets

In [64]:
in_both = soccer_team.intersection(basketball_team)
print(in_both)

not_in_both = soccer_team.symmetric_difference(basketball_team)
print(not_in_both)

{'Charline'}
{'Emma', 'Lisa', 'Alessandra', 'Julia', 'Emily'}

Lastly, we can also get all items together, but without duplicates

In [65]:
all_players = soccer_team.union(basketball_team) # order does not matter here
all_players

{'Alessandra', 'Charline', 'Emily', 'Emma', 'Julia', 'Lisa'}

## 1.10 Dictionaries
Dictionaries are another data format in Python. Different than lists, tuples or sets, they don't just have values, but have key-value pairs. We also define them with curly brackets, but we first specify the key and then the value. Key-value pairs are separated by commas.

Keys and values can both be any type of variable type (int, float, string, bool), but the keys have to be unique in the dictionary.

In [66]:
earthquakes_by_country = {"China": 157, 
                          "Japan":61,
                          "Indonesia": 113,
                          "Iran":106,
                          "Turkey":77} 
earthquakes_by_country

{'China': 157, 'Japan': 61, 'Indonesia': 113, 'Iran': 106, 'Turkey': 77}

We can access values by subscripting the dictionary as such

In [67]:
earthquakes_by_country["China"]

157

But we need to be sure the value is in there, otherwise there will be an error

In [68]:
earthquakes_by_country["Switzerland"]

KeyError: 'Switzerland'

If we are not sure, then we can use `.get()` and if the value is not found then "None" is returned

In [69]:
print(earthquakes_by_country.get("China"))
print(earthquakes_by_country.get("Switzerland"))

157
None

Dictionaries can also be nested and are a great way to bundle information if we have a lot of information at hand and want to store in an organised manner

In [70]:
country_stats = {
    "China": {"Earthquakes": 157, "State Leader": "Xi Jinping", "Population": 1393000000},
    "Indonesia": {"Earthquakes": 113, "State Leader": "Joko Widodo", "Population": 267700000},
    "Japan": {"Earthquakes": 61, "State Leader": "Shinzo Abe", "Population": 126500000},
    "Iran": {"Earthquakes": 106, "State Leader": "Hassan Rouhani", "Population": 81800000}
}
country_stats

{'China': {'Earthquakes': 157,
  'State Leader': 'Xi Jinping',
  'Population': 1393000000},
 'Indonesia': {'Earthquakes': 113,
  'State Leader': 'Joko Widodo',
  'Population': 267700000},
 'Japan': {'Earthquakes': 61,
  'State Leader': 'Shinzo Abe',
  'Population': 126500000},
 'Iran': {'Earthquakes': 106,
  'State Leader': 'Hassan Rouhani',
  'Population': 81800000}}

You can remove values from a dictionary using `.pop()` and add items using by subscripting them and using the key of the key-value pair you want to add

In [71]:
country_stats.pop("Indonesia")
country_stats["Turkey"] = {"Earthquakes": 77, "State Leader": "Recep Tayyip Erdoğan", "Population": 82000000}
country_stats

{'China': {'Earthquakes': 157,
  'State Leader': 'Xi Jinping',
  'Population': 1393000000},
 'Japan': {'Earthquakes': 61,
  'State Leader': 'Shinzo Abe',
  'Population': 126500000},
 'Iran': {'Earthquakes': 106,
  'State Leader': 'Hassan Rouhani',
  'Population': 81800000},
 'Turkey': {'Earthquakes': 77,
  'State Leader': 'Recep Tayyip Erdoğan',
  'Population': 82000000}}

## 1.11 Length, Sum, Round and Type
`len()` and `sum()` are two in-built methods of python that you will likely use quite often.

`len()` tells you how many items are in a variablea and `sum()` sums up the values, if possible

In [72]:
print(soccer_team)
print(len(soccer_team))

{'Emma', 'Lisa', 'Charline'}
3

In [73]:
len("Guido")

5

In [74]:
len(["guido","anna"])

2

Be careful with calling `len()` on nested variables though. Only the first level is considered

In [75]:
len(country_stats)

4

In [76]:
sum([1,2,3,4])

10

Round can be useful to round number because you only need a certain amount of after-comma digits

In [77]:
print(1/3)
print(round(1/3,2))

0.3333333333333333
0.33

If you are not sure what the type of a variable is the you can check with `type()`

In [78]:
print(type(soccer_team))
print(type(country_stats))
print(type(length))
print(type(full_name2))

<class 'set'>
<class 'dict'>
<class 'int'>
<class 'str'>

Remember how we used `==` to compare values? If we want to compare object types we use `is`

In [79]:
print(type("a random text") is type("other random string"))
print(type(1.0) is type("a random string"))

True
False

Notice that variables can have the same value but not the same type

In [80]:
type(7)
type(7.0)

print(type(7) is type(7.0))
print(7 == 7.0)

False
True

## 1.12 More logical statements `in` and `not`

With `in` you check whether a value is in a set or list

In [81]:
print("Alessandra" in soccer_team)
print("Alessandra" in basketball_team)

False
True

With `not` you can negate a boolean value

In [82]:
print(not True)
print(not False)

print(not "Alessandra" in soccer_team)
print(not "Alessandra" in basketball_team)

print(not False and not False)

False
True
True
False
True

## Detour: Why are some of my numbers formatted in a weird way?
[Click here for the source and to read more](https://floating-point-gui.de/basic/)

Sometimes when you do math in Python, you get a very unexpected result with many after comma digits like this:

In [83]:
1.2-1.0

0.19999999999999996

### Wow whats that? Why isn't the answer 1.0?

Internally, computers use a format (binary floating-point) that cannot accurately represent a number like 0.1, 0.2 or 0.3 at all. When the code is compiled or interpreted, your “0.1” is already rounded to the nearest number in that format, which results in a small rounding error even before the calculation happens.

### Why do computers use such a stupid system?
It’s not stupid, just different. Decimal numbers cannot accurately represent a number like 1/3, so you have to round to something like 0.33 - and you don’t expect 0.33 + 0.33 + 0.33 to add up to 1, either - do you?

Computers use binary numbers because they’re faster at dealing with those, and because for most calculations, a tiny error in the 17th decimal place doesn’t matter at all since the numbers you work with aren’t round (or that precise) anyway.

### What can I do to avoid this problem?
That depends on what kind of calculations you’re doing.

If you really need your results to add up exactly, especially when you work with money: use a special decimal datatype.
If you just don’t want to see all those extra decimal places: simply format your result rounded to a fixed number of decimal places when displaying it.
If you have no decimal datatype available, an alternative is to work with integers, e.g. do money calculations entirely in cents. But this is more work and has some drawbacks.

### Why do other calculations like 0.1 + 0.4 work correctly?

In that case, the result (0.5) can be represented exactly as a floating-point number, and it’s possible for rounding errors in the input numbers to cancel each other out - But that can’t necessarily be relied upon (e.g. when those two numbers were stored in differently sized floating point representations first, the rounding errors might not offset each other).

In other cases like 0.1 + 0.3, the result actually isn’t really 0.4, but close enough that 0.4 is the shortest number that is closer to the result than to any other floating-point number. Many languages then display that number instead of converting the actual result back to the closest decimal fraction.

# 2. Advanced Python
Ok, you now know the most common data types in Python, how you can apply operations on them, and even create small logical flows with input collected by the user. You are halfway there to knowing all there is to program most applications.

Lets now get to the features of Python that will allow you to build more complicated work flows and make things much more efficient.

## 2.1 If Statements
If statements check for a condition and then depending on whether it is true executes a block of code. If the condition is not true then you can specify an 'else' clause to execute an alternative block of code.

The general structure of an if-else statement looks like this

In [ ]:
if your_condition:
    # if true then this code is executed
else:
    # if condition isnt true, do this

An example

In [86]:
user_age = int(input("Welcome to the theater, how old are you?"))
price = 50

if user_age >= 18:
    print("You qualify for the regular entry fee")
else:
    price -= 20
    print("You qualify for the childrens discount and may pay 20 CHF less")

Welcome to the theater, how old are you?10
You qualify for the childrens discount and may pay 20 CHF less

By omitting the else clause you can also decide for nothing to happen if the condition is not fulfilled.

In [87]:
theater_club_member = input("Are you a member of the theater club? (y/n)")

if theater_club_member not in ["y","n"]:
    print("Please enter a valid answer (y/n)")
else:
    if theater_club_member == "y":
        price -= 15
        print("You qualify for an additional discount of 15 CHF")

print(f"Your final price is {price} CHF")

Are you a member of the theater club? (y/n)y
You qualify for an additional discount of 15 CHF
Your final price is 15 CHF

You can also specify any number of additional conditions to check for using the 'elif' clause.

In [88]:
user_height = int(input("Welcome to our clothing store, please enter your height in cm to receive a size recommendation"))

if user_height > 190:
    size = "XL"
elif user_height > 180:
    size = "L"
elif user_height > 170:
    size = "M"
elif user_height > 160:
    size = "S"
else:
    size = "XS"
    
print(f"We recommend size {size} for you. Enjoy your visit")

Welcome to our clothing store, please enter your height in cm to receive a size recommendation167
We recommend size S for you. Enjoy your visit

## 2.2 While loops
While loops allow you to run a block of code on repeatedly as long as the specified condition is fulfilled. The general structure looks like this

In [ ]:
while your_condition:
    # code to be run if condition true

In [90]:
i = 0

while i<10:
    print(i)
    i += 1
print(f"Finished at {i}")

0
1
2
3
4
5
6
7
8
9
Finished at 10

In [91]:
user_input = "y"

items_in_cart = 0

while user_input == "y":
    items_in_cart += 1
    user_input = input(f"You currently have {items_in_cart} items in your cart, would you like to add another item to your cart? (y/n)")
        
print(f"Total items in cart: {items_in_cart}, the final price is {round(items_in_cart * 4.99,2)} CHF")

You currently have 1 items in your cart, would you like to add another item to your cart? (y/n)y
You currently have 2 items in your cart, would you like to add another item to your cart? (y/n)y
You currently have 3 items in your cart, would you like to add another item to your cart? (y/n)n
Total items in cart: 3, the final price is 14.97 CHF

Be careful, if you make a mistake in your condition the code might never exit the while loop. You can stop this by interrupting the kernel running the program (Kernel > Interrupt). In hydrogen you can find this option in the bottom bar of Atom on the left side.

In [ ]:
i = 0

while i<10:
    # i += 1
print(f"Finished at {i}")

## 2.3 For loops

For loops iterate over an iterable object (e.g. a list or a string) and allow you to use the current element of the iterable object to be used in a block of code that is repeatedly executed. The name you choose for the iterable value is completely up to you.

In [ ]:
for a_variable_name_of_your_choice in iterable_item:
    # code to execute

In [94]:
patients = ["Anna", "Philippe", "Cathrine", "Isabelle", "Giacomo"]

for patient in patients:
    print(f"Welcome to Dr. Philipps office {patient}, please have a seat.")

Welcome to Dr. Philipps office Anna, please have a seat.
Welcome to Dr. Philipps office Philippe, please have a seat.
Welcome to Dr. Philipps office Cathrine, please have a seat.
Welcome to Dr. Philipps office Isabelle, please have a seat.
Welcome to Dr. Philipps office Giacomo, please have a seat.

In [95]:
customers = ["Sandy","Alessandra","Lucas","Pierre"]

customer_data = {
                "Sandy": {"items": 10, "item_price": 2.50},
                "Alessandra": {"items": 2, "item_price": 100.00},
                "Lucas": {"items": 6, "item_price": 3.99},
                "Pierre": {"items": 3, "item_price": 65.00},
                }

for customer in customers:
    single_user_data = customer_data[customer]
    single_user_data["total_price"] = single_user_data["items"] * single_user_data["item_price"]
    
customer_data

{'Sandy': {'items': 10, 'item_price': 2.5, 'total_price': 25.0},
 'Alessandra': {'items': 2, 'item_price': 100.0, 'total_price': 200.0},
 'Lucas': {'items': 6, 'item_price': 3.99, 'total_price': 23.94},
 'Pierre': {'items': 3, 'item_price': 65.0, 'total_price': 195.0}}

If you want to repeat something a specific number of times then you don't have to use a while loop and increment a counting integer, you also don't need to define a list with `[1,2,3,...,n]`. You can use `range(starting_number, ending_number, steps_to_increment_by)` like this. Notice that the last digit is not considered (similar to slicing a string where the stopping index is not included). By default, range starts at 0

In [96]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [97]:
for i in range(2,123,17):
    print(i)

2
19
36
53
70
87
104
121

Maybe you don't actually need the variable that is being iterated through. In that case you can either just not use that variable or use a character that makes this obvious to others reading your code.

In [98]:
for _ in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

There are many ways to arrive at a solution in Python. This technically also works, but isn't structured as clearly

In [99]:
for i in ["Hello"]*5:
    print(i)

Hello
Hello
Hello
Hello
Hello

A lot of objects are iterable in python. For example when you use a string in a for loop the individual characters are iterated over

In [100]:
for char in "Hello world":
    print(char)

H
e
l
l
o

w
o
r
l
d

## 2.4 Break & Continue
You can use `break` to exit a loop. You can for example use this to exit a loop if a special additional condition is fulfilled.

In [101]:
for i in range(10):
    print(i)
    if i == 5:
        break
        
print("Done")

0
1
2
3
4
5
Done

A short recap on using types and is as well as `not` to make the following cell easier to understand

In [102]:
print(type(2.5))
print(type(2.0))
print(type("Apple"))
print(type("Apple") is not type(2.0))

<class 'float'>
<class 'float'>
<class 'str'>
True

In [103]:
# Lets say our store offers a discount on any item that costs more than 5 CHF and 
#  we want to calculate the final price at the checkout. If there is any issue with
#  the prices in the list, then we want the system to stop immediately

item_prices_of_shopping_basket = [2.50, 6.50, 2.50, 0.50, 11.98, "Apple", 2.50, 7.48]

total = 0

for item_price in item_prices_of_shopping_basket:
    if type(item_price) is not type(2.0):
        print("Abort! There is an error in the item list")
        break

    if item_price > 5:
        item_price = item_price * 0.8
    total += item_price

print(f"Total cost: {total} CHF")

Abort! There is an error in the item list
Total cost: 20.284 CHF

`continue` skips the remainder of the loop and continues with the next iteration

In [104]:
for i in range(10):
    if i == 5:
        continue
        
print("Done") # Notice the difference to the same cell with 'break' instead of 'continue'

Done

In [105]:
# Same scenario as above, but we decide that we just want to skip the item in question

item_prices_of_shopping_basket = [2.50, 6.50, 2.50, 0.50, 11.98, "Apple", 2.50, 7.48,"Bananas"]

total = 0
issue_item = []

for item_price in item_prices_of_shopping_basket:
    if type(item_price) != type(1.0):
        issue_item += [item_price]
        print("There is an issue with the item. Item is being skipped.")
        continue

    if item_price > 5:
        item_price = item_price * 0.8
    total += item_price

print(f"Total cost: {total} CHF, we had issues with these items: {issue_item}")

There is an issue with the item. Item is being skipped.
There is an issue with the item. Item is being skipped.
Total cost: 28.768 CHF, we had issues with these items: ['Apple', 'Bananas']

## 2.5 Functions
### 2.5.1 Basics
Functions seem new, but surprise! You've used them several times to far (e.g. `print` or `len`)! They are basically shortcuts for previously defined blocks of code.

The very basic structure looks like this:
<br>
`
def your_function_name():
    # code you want to run
`

You have to make sure that the code you want to run as part of the function is indented by four empty spaces (or a tab)

In [106]:
def say_hello():
    user_name = input("Hello what is your name?")
    print(f"Hello {user_name}!")

What we just did is called *defining* a function. If we want to execute it then we just write its name and add `()` to its end. This lets Python know that we actually want to execute the function. In the programming-lingo we also say that we "call" or "invoke" a function. Lets invoke our say_hello function

In [107]:
say_hello # this happens if we don't add brackets to the end

In [108]:
say_hello()

Hello what is your name?Guido
Hello Guido!

Pay attention when you add variables in the function. If they are defined in the function, then they won't be accessible outside of it

In [109]:
def multiply_ten_by_itself():
    my_result = 10
    my_result *= 10
    print(f"Your result is {my_result}")
    
multiply_ten_by_itself()

Your result is 100

In [110]:
print(my_result) # the variable wont be found

NameError: name 'my_result' is not defined

### 2.5.2 Arguments and parameters
Arguments are values we can pass into a function that can be used as variable input to its operations

In [111]:
def multiply_by_itself(number):
    result = number * number
    print(result)

In [112]:
multiply_by_itself(3)

9

In [113]:
def multiply_two_numbers(x,y):
    print(x*y)
    
multiply_two_numbers(5,10)

50

In [114]:
# say you want to calculate the cost of various scooter trips with following information

scooter_trip = {"brand": "Lime", "unlock_fee": 1, "cost_per_minute": 0.4, "trip_minutes": 12, "discount": 0.2}

# We would calculate the cost like this for example

price = scooter_trip["unlock_fee"]
price += scooter_trip["cost_per_minute"] * scooter_trip["trip_minutes"]
price *= (1 - scooter_trip["discount"])
print(f"The final price is {price}")

The final price is 4.640000000000001

In [115]:
# We could package this as a function like this

def calc_scooter_trip_cost():
    price = scooter_trip["unlock_fee"]
    price += scooter_trip["cost_per_minute"] * scooter_trip["trip_minutes"]
    price *= (1 - scooter_trip["discount"])
    price = round(price,2)
    print(f"The final price is {price} CHF")
    
calc_scooter_trip_cost()

# but this would be very inefficient as we could only calculate the cost for one trip

The final price is 4.64 CHF

In [116]:
# lets turn the dictionary into a function argument where different values with a 
# similar structure can be inputted (or passed) to the function

def calc_scooter_trip_cost(trip_data):
    price = trip_data["unlock_fee"]
    price += trip_data["cost_per_minute"] * trip_data["trip_minutes"]
    price *= (1 - trip_data["discount"])
    price = round(price,2)
    print(f"The final price is {price} CHF")
    
# we can now call the function like this
calc_scooter_trip_cost(scooter_trip)

The final price is 4.64 CHF

In [117]:
# Imagine we have a list of hundreds of scooter trips, we could just calculate them in a few
# lines of code like this

scooter_trips = [{"brand": "Lime", "unlock_fee": 1, "cost_per_minute": 0.4, "trip_minutes": 12, "discount": 0.2},
                 {"brand": "Voi", "unlock_fee": 0, "cost_per_minute": 0.3, "trip_minutes": 19, "discount": 0.0},
                 {"brand": "Tier", "unlock_fee": 1, "cost_per_minute": 0.2, "trip_minutes": 7, "discount": 0.3}]

for trip in scooter_trips:
    calc_scooter_trip_cost(trip)

The final price is 4.64 CHF
The final price is 5.7 CHF
The final price is 1.68 CHF

### 2.5.3 Return values
Consider the last function we built. Its quite useful, but maybe we want to use the input for a further step and instead of just having the function print something we want to get the final price as a float. 

We can use return values for this, which are values which the function gives us back as a variable, just as you know so far from the `input()` function.

In [118]:
def calc_scooter_trip_cost(trip_data):
    price = trip_data["unlock_fee"]
    price += trip_data["cost_per_minute"] * trip_data["trip_minutes"]
    price *= (1 - trip_data["discount"])
    price = round(price,2)
    # print(f"The final price is {price} CHF")
    return price

all_costs = []

for trip in scooter_trips:
    single_cost = calc_scooter_trip_cost(trip)
    all_costs += [single_cost]
    
print(f"The total cost for all scooter trips is {sum(all_costs)} CHF")

The total cost for all scooter trips is 12.02 CHF

The return keyword terminates a function, code after it will not be executed anymore

In [119]:
def calc_scooter_trip_cost(trip_data):
    price = trip_data["unlock_fee"]
    price += trip_data["cost_per_minute"] * trip_data["trip_minutes"]
    price *= (1 - trip_data["discount"])
    price = round(price,2)
    
    return price

    print(f"The final price is {price} CHF") # this won't be executed
    
calc_scooter_trip_cost(scooter_trips[0])

4.64

### 2.5.4 Specifying parameters
Sometimes when there are several parameters, we don't always remember the right order in which we have to specify them. In this case we can just make sure that the values that we pass are used correctly by naming the argument names explicitly:

In [120]:
def subtract(x, y):
    print(x-y)
    
subtract(10,5)
subtract(5,10)
subtract(y=5,x=10)

5
-5
5

### 2.5.5 Default parameters
Sometimes a certain parameter *might* be different, but most of the time it will be the same and we don't want to be required to enter it *every* time we use the function. That's a good case for default parameters. We define these together with function by just adding the default value behind the argument in question.

In [121]:
def say_hello(name, greeting_prefix="Hello"):
    greetings = greeting_prefix + " " + name
    print(greetings)
    
say_hello("Guido")
say_hello("Guido", greeting_prefix="Gruezi")

Hello Guido
Gruezi Guido

# Concluding remarks
Congratulations! You already know enough Python to write many complicated programmes. Surprisingly, there really isn't that much more too it except some more fancy structures that make coding easier, but don't add anything new that you could not build with what we covered in this notebook.

You will often make mistakes, scratch your head at why your code isn't working, and come across problems where you're not quite sure how to solve them with the building blocks we've learnt so far. And you're not alone. Anbody who programs has stumbled across many problems along their way and a lot will even have had the same problem as you did. 

Luckily programmers are very friendly people and enjoy helping each other out on the internet. Many problems and solutions are posted online so you just have to google your questions (remember to add python in the search) and you will most likely find resourcs online. A big part about learning to program is to know how to formulate and google for questions. One of the most popular pages where programmers ask and answer question is [Stackoverflow](https://stackoverflow.com/), by the end of this course you will most likely have visited that website several dozens of times!

# 3. Some practice problems
Try solving these on your own before looking at the solution

## 3.1 Largest Number
Write a function that takes 3 integers as an input (num1, num2, num3) and prints out the largest of the numbers

In [ ]:
def largest_number(num1, num2, num3):
    if (num1 >= num2) and (num1 >= num3):
       largest = num1
    elif (num2 >= num1) and (num2 >= num3):
       largest = num2
    else:
       largest = num3

    print(f"The largest number is {largest}")
    
largest_number(-1,4,2)

## 3.2 Prime Numbers
Write a function that takes in two arguments "lower" and "upper" and prints all prime numbers in this interval (including the limits themselves)

In [ ]:
def prime_numbers(lower, upper):
    for num in range(lower, upper + 1):
        
        # all prime numbers are greater than 1
        if num > 1:
           for i in range(2, num):
               if (num % i) == 0:
                   break
           else:
               print(num)

prime_numbers(1000,1100)

## 3.3 Print all keys of a dictionary
Write a function that takes a dictionary (parameter called d) as an input and first prints out all of the keys and then all of the values of the key-value pairs.

In [ ]:
def print_dict(d):
    print("Keys:")
    for i in d.keys():
        print(i)
        
    print("")
    
    print("Values:")
    for j in d.values():
        print(j)
        
print_dict(earthquakes_by_country)

In [ ]:
def print_dict(d):
    keys = []
    values = []
    for key, value in d.items():
        keys += [key]
        values += [value]
    
    print("Keys:")
    for k in keys:
        print(k)
    
    print("")
    
    print("Values:")
    for v in values:
        print(v)
        
print_dict(earthquakes_by_country)